

body {
    display: grid;
    grid-template-columns: 1fr 4fr 160px;
    grid-template-rows: 1fr;
    min-height: 100vh;
    background-image: url("https://st2.depositphotos.com/2032035/7282/v/950/depositphotos_72827627-stock-illustration-card-suits-background.jpg)");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(2.5px);
    font-family: 'Bebas Neue', cursive;
}



.leftSide {
    grid-column-start: 1;
    flex-direction: column;
    display: flex;
    justify-content: end;
    align-items: center ;
    background-color: rgb(121, 117, 117, 0.9);
    box-shadow:0 0 15px 4px rgba(0, 0, 0, 0.76);
}

.playingField {
    display: flex;
    grid-column-start: 2;
    flex-direction:  column;
    justify-content: space-between;
    
}

#dealer {
    font-size: 100px;
    display: inline-block;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 2px;
    color: rgba(156, 23, 23, 0.903);
    text-shadow:
        8px 0 black,
        0 8px black,
        8px 0 black,
        0 8px black;
    
}
img {
    max-height: 200px;
}
#player {
   font-size: 100px;
   text-align: center;
   margin-top: 0px;
   margin-bottom: 5px;
   color: rgba(156, 23, 23, 0.903);
   text-shadow:
        8px 0 black,
        0 8px black,
        8px 0 black,
        0 8px black;
}

.rightSide {
    grid-column-start: 3;
    flex-direction: column;
    display: flex;
    align-items: left;
    justify-content: end;
    background-color: rgb(121, 117, 117, 0.9);
    box-shadow:0 0 15px 4px rgba(0, 0, 0, 0.76)
}

.sameSuit {
    align-items: center;
}


#playerHand {
    display: flex;
    justify-content: center;
}

button {
    box-shadow:0 0 15px 4px rgba(59, 56, 56, 0.76);
    margin: 3px;
    font-size: 20px;
    border-radius: 10px;
    transition-duration: 0.4s;
    border: none;
    font-family: 'Bebas Neue', cursive;
}

button:hover {
    background-color: #a23535f5;
    color: white;
}

input[type=submit]{
    box-shadow:0 0 15px 4px rgba(59, 56, 56, 0.76);
    margin: 3px;
    font-size: 20px;
    border-radius: 10px;
    transition-duration: 0.4s;
    border: none;
    font-family: 'Bebas Neue', cursive;
}

input[type=submit]:hover {
    background-color: #a23535f5; 
    color: white;
}



#dealerHand {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    font-size: 28px;
    text-align: left;
    font-family: 'Bebas Neue', cursive;

    /* background-color: rgba(236, 29, 29, 0.755); */
}




input[type=text] {
    padding:20px;
    margin-top: 10px;
    border:0;
    box-shadow:0 0 15px 4px rgba(250, 25, 25, 0.3);
    border-radius:10px;
    font-family: 'Bebas Neue', cursive;
}

img {
    box-shadow:0 0 15px 4px rgba(101, 3, 3, 0.76);
    margin: 4px;
}

#walletValue {
    font-size: 50px;
    color: rgb(16, 225, 16);
}


